
@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/apexcharts" defer></script>
    <script src="~/js/chart.js" defer></script>
}




            <div class="text-center">
                <h1 class="display-4">Admin Dashboard</h1>
                <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

            </div>


            <div class="container mt-5">
                <div class="row gap-3">
                    <div class="col-5 card">
                        <div class="card-body">
                            <div id="chart"></div>
                        </div>
                    </div>

                            <div class="col card">
                        <div class="card-body">
                            <div id="pieChart"></div>
                        </div>
                    </div>
                    
                </div>
            </div>



